

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
}

.button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}



.cs {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
}
